@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.btn {
 @apply w-full px-6 py-2 text-center text-black  outline  -outline-offset-2 outline-purple-500 rounded-md lg:ml-5 
 }
 .bg-dark{
   background-color: rgb( 18, 18, 18, 0.9);
 }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  
  

}

*:focus {
  @apply outline-none ring-2 ring-purple-500 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;

}

html,
body {
  @apply font-sans  antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
 
}

body {
  position: relative;
  min-height: 100%;
  margin: 0; 
  @apply  ml-1 lg:ml-0 px-3 lg:px-0
}

a {
  text-decoration: none;
}

img{
  z-index: 0;
  }

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.height-screen-helper {
  height: calc(100vh - 80px);
}

